.card-boder{
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
}

.card-boder img {
    width: 100%;
    
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}